$page-width: 640px;

body {
  margin: 0 0 16px 0;
}

button {
  cursor: pointer;
  background: #fff;
  border: 1px solid #aaa;
  outline: none;
  &:hover {
    background: #fafafa;
  }
  &:active {
    background: #f0f0f0;
  }
}

.app {
}

.header {
  background: #eeeeee;
  width: 100%;
  height: 64px;
  position: fixed;
  top: 0;
  min-width: 320px;
  z-index: 2;
  .header-content {
    margin: 0 auto 0 auto;
    max-width: $page-width;
  }
}

.logo {
  width: 84px;
  height: 34px;
  padding-top: -1px;
  position: relative;
  top: 13px;
}

.search {
  padding-top: 8px;
  display: inline-block;
  width: calc(100% - 100px);
  margin-left: 16px;
  input {
    border: none;
    width: calc(100% - 86px);
    padding: 0 8px 0 8px;
  }
  button {
    width: 70px;
    padding: 0;
  }
  input, button {
    height: 48px;
    display: inline-block;
  }
}

.content {
  max-width: $page-width;
  min-width: 320px;
  margin: 72px auto 0 auto;
  z-index: 1;
}

.list {
  .load {
    width: 100%;
    text-align: center;
    height: 40px;
    margin-top: 10px;
  }
}

.thumbnail {
  height: 128px;
  &:hover {
    background: #fafafa;
  }
  img {
    margin: 8px 0 0 8px;
    height: calc(100% - 16px);
    //display: inline-block;
  }
  .thumbnail-title {
    display: inline-block;
    margin: 10px 0 0 10px;
    color: #000;
    width: calc(100% - 220px);
    overflow: hidden;
    max-height: 100%;
    text-overflow: ellipsis;
  }
}

.watch {
  .watch-tags {
    font-size: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .watch-title {
    word-break: break-word;
  }
  .watch-upload {
    font-size: 14px;
    span {
    }
    time {
      font-style: italic;
    }
  }
  .watch-description {
    font-size: 12px;
    word-break: break-word;
  }
  .watch-favorite {
    float: right;
    padding: 4px 16px;
    &.watch-favorite-on {
      background: #e0e0ff;
    }
    &.watch-favorite-loading {
      background: #e0e0ff;
    }
  }
}

.player {
  max-width: $page-width;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
